.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/assets/data/2025.json
src/assets/data/2026.json
/src/assets/data
/src/assets/data
src/assets/data/2025.json
src/assets/data/2026.json
